<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>on {{user_search.company.name}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/search.css' %}">
    <link rel="icon" href="../../static/web/images/logo.png">
</head>
<body>
    <nav id="nav-bar">
        <div class="container-nav">
            <ul>
                <li><a href="{% url 'web:index' %}"><img class="img" src="../../static/web/images/text_logo.png"></a></li>
                <li><a href="{% url 'web:about' %}">About</a></li>
                <li><a href="{% url 'web:acknowledgments' %}">Acknowledgments</a></li>
            </ul>
        </div>
    </nav>
    <div class="clr"></div>
    <section class="error">
    {% if user_search.error_view %}
            <h4>{{user_search.error_msg}}</h4>
            {% if user_search.error_submsg_link %}
                <h5><br>{{user_search.error_submsg}} <a id="error_link" href="{{user_search.error_submsg_link}}" target="_blank">ticker</a></h4>
            {% endif %}
    </section>
    <div class="clr"></div>
    {% else %}
    <div id="content">
    <section id="showcase">
            <section class="search">
                <form autocomplete="off" action="{% url 'web:search' %}" method="GET">
                    {% csrf_token %}
                    <input type="text" name="search_bar" placeholder="find another company" id="search_bar">
                </form>
            </section>
            <h1>{{user_search.company.name}}</h1>
            <div class=showcase_content>
                <img src="{{user_search.company.logo_img}}">
                <div id="price">
                    <h2>${{user_search.price.price}}</h2>
                </div>
                <div id="percent">
                    <h2>{{user_search.price.change_pct}}%</h2>
                </div>
            </div>
            <p>Analyzed {{user_search.total_size}} financial articles over the past 3 days finding:</p>
                <ul id="consenus_vals">
                    <li>{{user_search.company.p_pos}}%<div class="p_lables"> Positive</div></li>
                    <li>{{user_search.company.p_ind}}%<div class="p_lables"> Indifferent</div></li>
                    <li>{{user_search.company.p_neg}}%<div class="p_lables"> Negative</div></li>
                </ul>
    </section>
    <section id="news">
        <ul>
            {% for label_form_article in user_search.form_articles %}
            <li> <h1>{{label_form_article.0}},</h1>
                <ul>
                {% for form_article in label_form_article.1 %}
                    <li class="article">
                        <a href="{{form_article.1.url}}" target="_blank" class="box">
                            <h3 class="title">{{form_article.1.title}}</h3>
                            <p class="source"> {{form_article.1.source}}</p>
                            <p class="subtitle">{{form_article.1.subtitle}}</p>
                            <p class="date">{{form_article.1.date}}</p>
                        </a>
                    </li>
                    <button class="open_button" onclick="openForm('{{form_article.0.form_id.value|escapejs}}'); ">Correct this Post</button>
                    <div class="form" id="{{form_article.0.form_id.value}}">
                        <form class="form-container" method="post">
                            {% csrf_token %}
                            {{ form_article.0 }}
                            <input class="button" type="submit" onclick="submitForm('{{form_article.0.form_id.value|escapejs}}'); "
                                value="Submit">
                        </form>
                        <button class="cancel_button" onclick="closeForm('{{form_article.0.form_id.value|escapejs}}'); ">Cancel</button>
                    </div>
                {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
   </div>
    <footer id="main-footer">
        <p>MIT License Copyright &copy; 2019 David Gold</p>
</footer>
<script src="{% static 'web/search.js' %}"></script>
</body>
</html>

