@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    margin:0;
    padding:0;
}
.clr {
    clear:both;
}
.container{
    font-size: 1.1em;
    width:90%;
    margin:auto;
}
.container h2 {
    font-size: 2.5em;
    margin:3vh 0 4vh;

}
.container h3 {
    font-size: 1.5em;
    margin:1.5vh 0;
}
a{
    color: rgb(6,12,19);
}
body {
    background-color:rgb(254,254,254);
    color: rgb(6,12,19);
    font-family: Lato, Tahoma, sans-serif;
    line-height: 1.6em;
}
#nav-bar {
    padding: 1vw 1vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    position:fixed;
    margin-bottom: 300px;
    background-color:rgb(254,254,254);
    top:0;
    z-index: 10;
    width:100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}
#nav-bar ul{
    padding:0;
    list-style: none;
}
#nav-bar li{
    float: right;
    padding-right: 2em;
}
#nav-bar a{
    color: rgb(6,12,19);
    text-decoration: none;
}
#nav-bar a:hover{
    text-decoration: underline;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.math{
    display: block;
    margin-left: none;
}
#nav-bar li:nth-child(1){
    float: left;
}
.img {
    position: absolute;
    top:0%;
    left:2.5%;
    width: 8em;
    transition: all 0.3s ease-out;
}
#top{
    position: relative;
    left:2.5%;
}
#top h1{
    margin: 15vh 0.25em 0vh 0vh;
    font-size: 5vw;
    font-weight: 500;
}
ol{

    position: relative;
    left:3vw;
}
li{
    line-height: 1.6em;
}
#top h2{
    margin: 5vh 0.25em 5vh;
}
.img:hover{
    transform: scale(1.02,1.02);
    transition: all 0.3s ease-out;
}

.answer{
    position: relative;
    left:2.5%;
    width:90%;
}
#main-footer{
    margin-top: 4vw;
    text-align: center;
    font-size: 0.8vw;

}
@media (max-width:800px){
    .img{
        top:12%;
        width: 6em;
    }
    #main-footer{
        font-size: 3vw;
    }
    h2{
        line-height: 1em;
    }
    #top h1{
        font-size: 10vw;
    }
}