*{
    margin:0;
    padding:0;
}
.clr {
    clear:both;
}
.error h4{
    margin-top:8em;
    z-index: 0;
    font-size: 2vw;
    line-height: 0em;
    text-align: center;
}
.error h5{
    margin-top:2em;
    z-index: 0;
    font-size: 2vw;
    line-height: 0em;
    text-align: center;
}
#error_link{
    color:rgb(97,202,156);
    text-decoration: underline;

}
body {
    background-color:rgb(254,254,254);
    color: rgb(6,12,19);
    font-family: Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
    position: relative;
}
#nav-bar {
    padding: 1em;
    padding-top: 2%;
    padding-bottom: 2%;
    position:fixed;
    background-color:rgb(254,254,254);
    top:0;
    z-index: 2;
    width:100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
.img {
    position: fixed;
    top:2.5%;
    left:2.5%;
    width: 8em;
    transition: all 0.3s ease-out;
}
.img:hover{
    transform: scale(1.02,1.02);
    transition: all 0.3s ease-out;
}
#nav-bar ul{
    padding:0;
    list-style: none;
}
#nav-bar li{
    float: right;
    padding-right: 2em;
}
#nav-bar a{
    color: rgb(6,12,19);
    text-decoration: none;
}
#nav-bar a:hover{
    text-decoration: underline;
}
#nav-bar li:nth-child(1){
    float: left;
}
#showcase{
    background-color: rgb(250, 250, 250);
    margin: 20vw;
    display: block;
    position: fixed;
    z-index:1;
    margin:1em;
    width:30%;
    height:79%;
    margin-top:6.7%;
    padding:2vw 1vw 2vw 1vw;
    border: 1px solid black;
    border-radius: 2em;
}
#showcase p{
    text-align: center;
    font-size: 1.5vw;
    margin: 4vw 0vw 2vw 0vw;
}
.showcase_content{
    position: relative;
    margin-bottom: 2vw;
}
#showcase h1{
    position: relative;
    text-align: center;
    font-size: 3vw;
    margin: 0vw 1vw 1vw 1vw;
    line-height:4.5vw;
}
.showcase_content h2{
    text-align: right;
    padding-right: 10vw;
    font-family: sans-serif, Geneva, Tahoma;
    font-size: 3em;
    line-height: 4vw;
}
#price {
    color:rgb(97,202,156);
}
#percent h2 {
    font-size: 2.5vw;
    color:rgb(221, 230, 65);
}
#showcase ul{
    text-align: center;
    list-style: none;
}
#showcase li{
    margin:1.5vw;
    line-height: 0.7em;
}
.showcase_content img{
    float: right;
    margin: 0vw 2vw 0vw 4vw;
    width: 10vw;
}
#consenus_vals{
    display: inline;
}
.p_lables{
    display: inline;
    font-weight: normal;
    font-family: Geneva, Tahoma, sans-serif;
    color: rgb(6,12,19);
    font-size: 2.5vw;
}
#consenus_vals li{
    font-size: 3vw;
    font-weight: bold;
    font-family: sans-serif, Geneva, Tahoma;
}
#consenus_vals li:nth-child(1){
     color:rgb(97,202,156);
}
#consenus_vals li:nth-child(2){
      color:rgb(221, 230, 65);
}
#consenus_vals li:nth-child(3){
    color: rgb(216, 43, 27);
}
.search{
    position: relative;
    text-align: center;
    padding-bottom: 1em;
    border-radius: 3px;
    margin-top:0.5vw;
    transition: all 0.3s ease-out;
}
.search input{
    background-color: rgb(250,250,250);
    border-radius: 1em;
    text-align: center;
    width: 70%;
    height: 2vw;
    font-size: 1.5vw;
    transition: all 0.3s ease-out;
}
.search input:hover{
    font-size: 1.6vw;
    margin:0.1em 0em 0.1em 0em;
    width:72%;
    height: 2.1vw;
    transform: scale(1.1,1.2);
    transition: all 0.15s ease-in-out;
}
.search input:focus{
    outline: none;
    height:2.5vw;
    font-size: 2vw;
    margin:0.5em 0em 0.5em 0em;
    width:92%;
    transform: scale(1.1,1.2);
    transition: all 0.1s ease-in-out;
}
#news {
    background-color: rgb(250,250,250);
    padding-left:36%;
    padding-top: 6.7%;
    display: flex;
    height: 100%;
    justify-content: flex-end;
}
#news ul{
    list-style: none;
}
#news h1{
    position: relative;
    font-size: 4vw;
    margin: 0.5em 0em 1em 0em;
}
#news li:nth-child(1){
     color:rgb(97,202,156);
}
#news li:nth-child(2){
      color:rgb(221, 230, 65);
}
#news li:nth-child(3){
    color: rgb(216, 43, 27);
}
.article{
    list-style: none;
    margin: 1.5em 3em 1.5em 1em;
    padding:0.5em;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
}
.article:hover{
    box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.27);
    transform: scale(1.03,1.03);
    transition: opacity 0.2s ease-in;
    z-index: 0;
}
.article:active{
    box-shadow: 3px 3px 7px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.04,1.04);
    transition: opacity 0.5s ease-out;
    z-index: 0;
}
a{
    text-decoration:none;
    color: rgb(6,12,19);
}
.title{
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
}
.source{
     margin: 0.3vw 0vw 0.3vw 0vw;
    font-size: 1.2vw;
}
.date{
    text-align: right;
}
.subtitle{
    margin: 0vw 0vw 0vw 1.5vw;
}

#main-footer{
    margin-top: 4vw;
    padding-left: 35%;
    text-align: center;
    font-size: 0.8vw;

}