@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    margin:0;
    padding:0;
}
.clr {
    clear:both;
}
.error h4{
    margin-top:8em;
    z-index: 0;
    font-size: 2vw;
    line-height: 0em;
    text-align: center;
}
.error h5{
    margin-top:2em;
    z-index: 0;
    font-size: 2vw;
    line-height: 0em;
    text-align: center;
}
#error_link{
    color:rgb(97,202,156);
    text-decoration: underline;

}

body {
    background-color:rgb(254,254,254);
    color: rgb(6,12,19);
    font-family: Lato, Tahoma, sans-serif;
    line-height: 1.6em;
    position: relative;
}
#nav-bar {
    padding: 1vw 1vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    position:fixed;
    background-color:rgb(254,254,254);
    top:0;
    z-index: 10;
    width:100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}
#nav-bar ul{
    padding:0;
    list-style: none;
}
#nav-bar li{
    float: right;
    padding-right: 2em;
}
#nav-bar a{
    color: rgb(6,12,19);
    text-decoration: none;
}
#nav-bar a:hover{
    text-decoration: underline;
}
#nav-bar li:nth-child(1){
    float: left;
}
.img {
    position: absolute;
    top:0%;
    left:2.5%;
    width: 8em;
    transition: all 0.3s ease-out;
}
.img:hover{
    transform: scale(1.02,1.02);
    transition: all 0.3s ease-out;
}
#showcase{
    background-color: rgb(250, 250, 250);
    display: block;
    position: fixed;
    z-index:1;
    margin:1vh 1vw;
    width:30%;
    height:78vh;
    margin-top:6em;
    padding:4vh 1vw 4vh 1vw;
    border: 2px solid  rgb(6,12,19);
    border-radius: 2vw 2vh;
}
#showcase p{
    text-align: center;
    font-size: 2vw;
    margin: 4vh 0vw 3vh 0vw;
}
.showcase_content{
    position: relative;
    margin-bottom: 2vw;
}
#showcase h1{
    position: relative;
    text-align: center;
    font-size: 3.5vw;
    font-weight: bold;
    margin: 0vh 1.5vw 1.5vh 1.5vw;
    line-height:7vh;
}
.showcase_content h2{
    text-align: right;
    font-family: sans-serif, Lato, Tahoma;
    font-size: 3.5vw;
    line-height: 8vh;
    padding-right: 15vw;
}
#price {
    color:rgb(97,202,156);
}
#percent h2 {
    font-size: 3vw;
    color:rgb(221, 230, 65);
}
#showcase ul{
    text-align: center;
    list-style: none;
}
#showcase li{
    margin:2vh 1.5vw;
    line-height: 5vh;
}
.showcase_content img{
    float: right;
    margin: 0vh 2vw 0vh 4vw;
    width: 9vw;
}
#consenus_vals{
    display: inline;
}
.p_lables{
    display: inline;
    font-weight: normal;
    font-family: Lato, Tahoma, sans-serif;
    color: rgb(6,12,19);
    font-size: 2.5vw;
}
#consenus_vals li{
    font-size: 3.5vw;
    font-weight: bold;
    font-family: sans-serif, Lato, Tahoma;
}
#showcase li:nth-child(1){
     color:rgb(97,202,156);
}
#consenus_vals li:nth-child(2){
      color:rgb(221, 230, 65);
}
#consenus_vals li:nth-child(3){
    color: rgb(216, 43, 27);
}
.search{
    position: relative;
    text-align: center;
    padding-bottom: 1.5vh;
    margin-top:0.5vh;
    transition: all 0.3s ease-out;
}
.search input{
    background-color: rgb(250,250,250);
    border-radius: 1em;
    text-align: center;
    width: 20vw;
    height: 3vh;
    font-size: 1.5vw;
    transition: all 0.3s ease-out;
}
.search input:hover{
    font-size: 1.7vw;
    margin:0.1em 0em 0.1em 0em;
    width:20.5vw;
    height: 3.2vh;
    transform: scale(1.1,1.2);
    transition: all 0.1s ease-in-out;
}
.search input:focus{
    outline: none;
    height:4vh;
    font-size: 2vw;
    margin:0.5em 0em 0.5em 0em;
    width:27vw;
    transform: scale(1.1,1.2);
    transition: all 0.1s ease-in-out;
}
#news {
    background-color: rgb(250,250,250);
    padding-left:35%;
    padding-top: 6em;
    display: flex;
    height: 100%;
    justify-content: right;
}
#news ul{
    list-style: none;
}
#news h1{
    position: relative;
    font-size: 4vw;
    margin: 0.5em 0em 1em 0em;
}
#news li:nth-child(1) h1{
     color:rgb(97,202,156);
}
#news li:nth-child(2) h1{
      color:rgb(221, 230, 65);
}
#news li:nth-child(3) h1{
    color: rgb(216, 43, 27);
}
.article{
    list-style: none;
    margin: 3vh 2vw 0vh 1vw;
    padding:0.5em;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
}
.article h3{
    margin: 1vh 0;
    font-size: 1.5vw;
}
.article:hover{
    box-shadow: 3px 3px 6px 5px rgba(0, 0, 0, 0.27);
    transform: scale(1.03,1.03);
    transition: opacity 0.2s ease-in;
    z-index: 0;
}
.article:active{
    box-shadow: 3px 3px 7px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.04,1.04);
    transition: opacity 0.5s ease-out;
    z-index: 0;
}
a{
    text-decoration:none;
    color: rgb(6,12,19);
}
.title{
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
}
.source{
     margin: 0.3vw 0vw 0.3vw 0vw;
    font-size: 1.2vw;
    font-weight: bold;
}
.date{
    text-align: right;
}
.subtitle{
    margin: 0vw 0vw 0vw 1.5vw;
}
/* The popup form - hidden by default */
.form {
  box-sizing: border-box;
  display: none;
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  border: 1px solid  rgb(6,12,19);
  width: 30vw;
  padding:2vh 2vw;
  color: rgb(6,12,19);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 9;
}
.form-container{
    font-size: 2vw;
    padding: 1em;
    display: inline;
    padding:1vh 1vw;
}
.open_button{
    outline: 0;
    position: relative;
    margin: 0em;
    margin: 1vh 0vw 1vh 1vw;
    cursor: pointer;
    box-shadow: 3px 4px 5px 3px rgba(0, 0, 0, 0.4);
    background-color:rgb(250,250,250);
    border:none;
    font-weight: bold;
    font-size: 1vw;
    padding:1vh 1vw;
    color: rgb(6,12,19);
    transition: all 0.2s ease-in-out;
}
.open_button:hover{
    transform: scale(1.03,1.03);
    transition: opacity 0.2s ease-in;
    text-decoration: underline;
}
.open_button:active{
    box-shadow: 3px 3px 7px 6px rgba(0, 0, 0, 0.2);
    transform: scale(1.04,1.04);
    transition: opacity 0.5s ease-out;
    z-index: 0;
}
.button{
    outline: 0;
    position: relative;
    cursor: pointer;
    background-color:rgb(250,250,250);
    border:1px solid rgb(6,12,19);
    font-weight: bold;
    font-size: 1vw;
    padding:1vh 1vw;
    color: rgb(6,12,19);
}
.button:hover{
    text-decoration: underline;
}
.cancel_button{
    outline: 0;
    position: relative;
    cursor: pointer;
    background-color:rgb(250,250,250);
    border:1px solid rgb(6,12,19);
    font-weight: bold;
    font-size: 1vw;
    padding:1vh 1vw;
    color: rgb(6,12,19);
}
.cancel_button:hover{
    text-decoration: underline;
}
/* button sylying*/
.form-container li{
    font-size: 0.8em;
    line-height: 1.5em;
}
.form-container li:nth-child(2){
     color: rgb(216, 43, 27);
}
.form-container li:nth-child(3){
      color:rgb(221, 230, 65);
}
.form-container li:nth-child(4){
    color:rgb(97,202,156);
    
}
#main-footer{
    margin-top: 4vw;
    padding-left: 35%;
    text-align: center;
    font-size: 0.8vw;

}
@media (max-width:800px){
    #showcase h1{
        font-size: 110%;
        line-height: 1em;
    }
    #showcase p{
    font-size: 4vw;
    margin: 2vh 0vw 2vh 0vw;
}
    #showcase li{
    margin:1vh 1vw;
    line-height: 3vh;
}
    #consenus_vals li{
    font-size: 6vw;   
}   
    .showcase_content h2{
        font-size: 6vw;
        line-height: 3vh;
    }

    #percent h2 {
    font-size: 4vw;
}
    #news h1{
    font-size: 10vw;
}
    .article h3{
    font-size: 4vw;
}
    .error h4{
    margin-top:20em;
    font-size: 4vw;
}
    .showcase_content img{
    text-align: center;
    margin: 0 2vw 2vh 0;
    width: 25vw;
}
    .img{
        width: 6em;
    }
    #main-footer{
        font-size: 3vw;
    }
    .article p{
        font-size: 3vw;
    }
    .open_button{
        font-size: 2vw;
    }
    .form{
        transform: scale(2,2);
    }
}